<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Dashboard</h1>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <button ion-button block color="brand_primary" class="btn btn-primary" (click)="this.goback.gotoComponent('profile')"> User Profile</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <button ion-button block color="brand_success"  class="btn btn-success" (click)="this.goback.gotoComponent('firm')">Firm Profile</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <button ion-button block color="brand_warning" class="btn btn-warning" (click)="this.goback.gotoComponent('coUsers')"> Co-Users</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <button ion-button block color="brand_info" class="btn btn-info" (click)="this.goback.gotoComponent('dir')"> Directory</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <button ion-button block color="brand_danger" class="btn btn-danger" (click)="this.goback.gotoComponent('ratecards')"> Rate Cards</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <button ion-button block color="brand_primary" class="btn btn-primary" (click)="this.goback.gotoComponent('releaseorders')"> Release Orders</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="admin">
            <button ion-button block color="brand_success" class="btn btn-success" (click)="this.goback.gotoComponent('releaseorders/check')">Insertion Check</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="admin">
            <button ion-button block color="brand_warning" class="btn btn-warning" (click)="this.goback.gotoComponent('invoices')">Invoices</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="admin">
            <button ion-button block color="brand_info" class="btn btn-info" (click)="this.goback.gotoComponent('receipts')">Payment Receipts</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="admin">
            <button ion-button block color="brand_danger" class="btn btn-danger" (click)="this.goback.gotoComponent('templates')">Templates</button>
        </div>
    </div>
</div>