app-navbar {     
    .toolbar-background {         
        background-color: #2196f3;
         }     
    .toolbar .toolbar-title, .toolbar .bar-button-default {         
        color: mintcream;
        }     
    .toolbar:focus {     
        outline: none;
     }
    #menuButton {
        padding: 0;
        margin: 0;
    }
}
