<ion-header>
    <ion-navbar>
        <ion-buttons left>
          <!-- *ngIf="!this.isLoginComponent"  -->
            <button ion-button icon-only (click)="this.goback.goBack()" class="hamburger">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right *ngIf="this.api.isLoggedIn">
          <button ion-button icon-only (click)="this.goback.gotoComponent('')" class="hamburger">
            <ion-icon name="help"></ion-icon>
          </button>
          <button ion-button icon-only (click)="this.goback.gotoComponent('')" class="hamburger">
            <ion-icon name="notifications"></ion-icon>
          </button>
          <button ion-button icon-only [matMenuTriggerFor]="settings" class="hamburger">
            <ion-icon name="settings"></ion-icon>
          </button>

          <mat-menu #settings="matMenu">
            <button mat-menu-item (click)="this.goback.gotoComponent('/profile')">Manage Profile</button>
            <button mat-menu-item (click)="this.goback.gotoComponent('/')">Settings</button>
            <button mat-menu-item (click)="this.goback.gotoComponent('/')" (click)="api.logout()">Log Out</button>
          </mat-menu>
          
          <button ion-button icon-only (click)=" this.api.logout(); this.goback.gotoComponent('')" class="hamburger">
            <ion-icon name="log-out"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons right *ngIf="!this.api.isLoggedIn">
          <button ion-button icon-only [matMenuTriggerFor]="settings" class="hamburger">
            <ion-icon name="settings"></ion-icon>
          </button>

          <mat-menu #settings="matMenu">
              <button mat-menu-item (click)="this.goback.gotoComponent('/')">Home</button>
              <button mat-menu-item (click)="this.goback.gotoComponent('/')">Settings</button>
              <button mat-menu-item (click)="this.goback.gotoComponent('/login')">Log In</button>
          </mat-menu>

          <button ion-button icon-only (click)="this.goback.gotoComponent('login')" class="hamburger">
            <ion-icon name="log-in"></ion-icon>
          </button>
    </ion-buttons>
        <button class="hamburger" ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>AAMan</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!-- <button ion-item *ngIf="!api.isLoggedIn" routerLink="/" menuClose>
        Home
        </button> -->
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="!api.isLoggedIn" (click)="this.goback.gotoComponent('login')" menuClose>
        Login
        </button>
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="!api.isLoggedIn" (click)="this.goback.gotoComponent('register')" menuClose>
        Register
        </button>  
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="!api.isLoggedIn" (click)="this.goback.gotoComponent('forgotPassword')" menuClose>
        Forgot Password
        </button>      
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('dashboard')" menuClose>
        Dashboard
        </button>
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('profile')" menuClose>
        User Profile
        </button>
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('firm')" menuClose>
        Firm Profile
        </button>
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('coUsers')" menuClose>
        Co-Users
        </button>
        <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('dir')" menuClose>
        Directory
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('ratecards')" menuClose>
        Rate Cards
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('releaseorders')" menuClose>
        Release Orders  
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('releaseorders/check')" menuClose>
        Insertion Check
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('invoices')" menuClose>
        Invoices
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('receipts')" menuClose>
        Payment Receipts
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('templates')" menuClose>
        Templates
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('accounts')" menuClose>
        Accounts
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('reports')" menuClose>
        Reports
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('tickets')" menuClose>
        Tickets
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent('changePassword')" menuClose>
        Change Password
       </button>
       <button class="hamburger" ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" (click)="this.goback.gotoComponent(''); api.logout()" menuClose>
          Logout
       </button>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
