<!-- <nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
      <a class="navbar-brand" routerLink="/">Zenedo</a>
      <button class="navbar-toggler" (click)="toggleNavbar()" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav mr-auto" *ngIf="api.isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" (click)="collapseNavbar()" routerLink="/dashboard"><span class="fa fa-columns"></span> Dashboard</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="!api.isLoggedIn"></ul>
        <ul class="navbar-nav" *ngIf="api.isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" (click)="api.logout();collapseNavbar()"><span class="fa fa-sign-out-alt"></span> Logout</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="!api.isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" (click)="collapseNavbar()" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" (click)="collapseNavbar()" routerLink="/login"><span class="fa fa-sign-in-alt"></span> Login</a>
            </li>
        </ul>
      </div>
  </div>
</nav> -->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Zenedo</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item routerLink="/" menuClose>
        Home
        </button>
        <button ion-item routerLinkActive="active" *ngIf="!api.isLoggedIn" routerLink="/register" menuClose>
        Register
        </button>
        <button ion-item routerLinkActive="active" *ngIf="!api.isLoggedIn" routerLink="/login" menuClose>
        Login
        </button>
        <button ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" routerLink="/dashboard" menuClose>
        Dashboard
        </button>
        <button ion-item routerLinkActive="active" *ngIf="api.isLoggedIn" routerLink="/" (click)="api.logout()" menuClose>
        Logout
        </button>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
