<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Accounts</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <div>
    <a (click)="this.goback.gotoComponent('mediahouseinvoice')">Media House Invoice</a>
  </div>
  <div>
    <a (click)="this.goback.gotoComponent('clientreceipts')">Client Receipts</a>
  </div>
  <div>
    <a (click)="this.goback.gotoComponent('clientinvoicepayments')">Client Invoice Payments</a>
  </div>
  <div>
    <a (click)="this.goback.gotoComponent('executiveinvoicepayments')">Executive Invoice Payments</a>
  </div>
  <div>
    <a (click)="this.goback.gotoComponent('notes')">Credit / Debit Notes</a>
  </div>
  <div>
    <a (click)="this.goback.gotoComponent('gst')" *ngIf="firm.GSTIN.GSTType == 'RD'">GST</a>
  </div>  
  <div>
    <a (click)="this.goback.gotoComponent('summarysheet')">Summary Sheet</a>
  </div>
</div>