<form (ngSubmit)="submit()" #dirForm="ngForm">
  <div class="row">
    <div class="col-md">
      <h2 *ngIf="edit">Edit Media House</h2>
      <h2 *ngIf="!edit">Add Media House</h2>
      <br>

      <ion-item class="form-group">
        <ion-label floating for="orgName">Organisation Name</ion-label>
        <ion-input type="text" id="orgName" name="orgName" [(ngModel)]="mediaHouse.orgName" required #orgNameField="ngModel"></ion-input>
      </ion-item>
    
      <div *ngIf="orgNameField.invalid && (orgNameField.dirty || orgNameField.touched)" class="text-danger">
        <div *ngIf="orgNameField.errors.required">
          Organisation Name is required.
        </div>
        <br>
      </div>
    
      <ion-item class="form-group">
        <ion-label floating for="pubName">Publication Name</ion-label>
        <ion-input type="text" id="pubName" name="pubName" [(ngModel)]="mediaHouse.pubName" required #pubNameField="ngModel"></ion-input>
      </ion-item>
    
      <div *ngIf="pubNameField.invalid && (pubNameField.dirty || pubNameField.touched)" class="text-danger">
        <div *ngIf="pubNameField.errors.required">
          Publication Name is required.
        </div>
        <br>
      </div>
        
      <ion-item class="form-group">
        <ion-label floating for="nickName">Nick Name</ion-label>
        <ion-input type="text" id="nickName" name="nickName" [(ngModel)]="mediaHouse.nickName" #nickNameField="ngModel"></ion-input>
      </ion-item>
    
      <ion-item class="form-group">
        <ion-label floating for="mediaType">Media Type</ion-label>
        <ion-select id="mediaType" name="mediaType" [(ngModel)]="mediaHouse.mediaType" required #mediaTypeField="ngModel">
          <ion-option>Print</ion-option>
          <ion-option>Air</ion-option>
          <ion-option>Electronic</ion-option>
        </ion-select>
      </ion-item>
    
      <div *ngIf="mediaTypeField.invalid && (mediaTypeField.dirty || mediaTypeField.touched)" class="text-danger">
        <div *ngIf="mediaTypeField.errors.required">
          Media type is required.
        </div>
        <br>
      </div>
    
      <ion-item class="form-group">
        <ion-label floating for="officeLandLine">Office Landline</ion-label>
        <ion-input type="text" id="officeLandLine" name="officeLandLine" [(ngModel)]="mediaHouse.officeLandLine" #officeLandLineField="ngModel"></ion-input>
      </ion-item>
    
      <br>

      <h3 class="mb-3">Address</h3>
    
      <ion-item class="form-group">
        <ion-input type="text" id="address" name="address" [(ngModel)]="mediaHouse.address.address" required #addressField="ngModel"></ion-input>
      </ion-item>
    
      <div *ngIf="addressField.invalid && (addressField.dirty || addressField.touched)" class="text-danger">
        <div *ngIf="addressField.errors.required">
          Address is required.
        </div>
        <br>
      </div>

      <ion-item class="form-group">
        <ion-label floating for="city">City</ion-label>
        <ion-input type="text" id="city" name="city" [(ngModel)]="mediaHouse.address.city" required #cityField="ngModel"></ion-input>
      </ion-item>
    
      <div *ngIf="cityField.invalid && (cityField.dirty || cityField.touched)" class="text-danger">
        <div *ngIf="cityField.errors.required">
          City is required.
        </div>
        <br>
      </div>

      <ion-item class="form-group">
        <ion-label floating for="state">State</ion-label>
        <ion-select id="state" name="state" [(ngModel)]="mediaHouse.address.state" required #stateField="ngModel">
          <ion-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</ion-option>
        </ion-select>
      </ion-item>
    
      <div *ngIf="stateField.invalid && (stateField.dirty || stateField.touched)" class="text-danger">
        <div *ngIf="stateField.errors.required">
          State is required.
        </div>
        <br>
      </div>

      <ion-item class="form-group">
        <ion-label floating for="edition">Edition</ion-label>
        <ion-input type="text" id="edition" name="edition" [(ngModel)]="mediaHouse.address.edition" required #editionField="ngModel"></ion-input>
      </ion-item>
    
      <div *ngIf="editionField.invalid && (editionField.dirty || editionField.touched)" class="text-danger">
        <div *ngIf="editionField.errors.required">
          Edition is required.
        </div>
        <br>
      </div>

      <br>
    </div>
    <div class="col-md">
      <br>

      <div class="row">
        <div class="col">
          <h4>Scheduling ({{mediaHouse.scheduling.length}})</h4>
        </div>
        <div class="col-auto">
          <button type="button" (click)="addScheduling()" class="btn btn-outline-info"><span class="fa fa-plus"></span></button>
        </div>
      </div>
      
      <br><br>

      <div *ngFor="let item of mediaHouse.scheduling; index as i" class="card mb-4">
        <div class="card-header">
          <button class="btn btn-outline-danger float-right" type="button" (click)="removeScheduling(i)"><span class="fa fa-trash-alt"></span></button>
          #{{i + 1}}
        </div>
        <div class="card-body">
          <ion-item class="form-group">
            <ion-label floating for="person">Person</ion-label>
            <ion-input type="text" id="person-{{i}}" name="s-{{i}}-person" [(ngModel)]="item.person" required #personField="ngModel"></ion-input>
          </ion-item>

          <div *ngIf="personField.invalid && (personField.dirty || personField.touched)" class="text-danger">
            <div *ngIf="personField.errors.required">
              Person is required.
            </div>
            <br>
          </div>

          <ion-item class="form-group">
            <ion-label floating for="designation">Designation</ion-label>
            <ion-input type="text" id="designation-{{i}}" name="s-{{i}}-designation" [(ngModel)]="item.designation" #designationField="ngModel"></ion-input>
          </ion-item>

          <ion-item class="form-group">
            <ion-label floating for="mobileNo">Mobile Number</ion-label>
            <ion-input type="text" id="mobileNo-{{i}}" name="s-{{i}}-mobileNo" [(ngModel)]="item.mobileNo" required #mobileNoField="ngModel"></ion-input>
          </ion-item>

          <div *ngIf="mobileNoField.invalid && (mobileNoField.dirty || mobileNoField.touched)" class="text-danger">
            <div *ngIf="mobileNoField.errors.required">
              Mobile Number is required.
            </div>
            <br>
          </div>

          <ion-item class="form-group">
            <ion-label floating for="deskExtension">Desk Extension</ion-label>
            <ion-input type="text" id="deskExtension-{{i}}" name="s-{{i}}-deskExtension" [(ngModel)]="item.deskExtension" #deskExtensionField="ngModel"></ion-input>
          </ion-item>

          <ion-item class="form-group">
            <ion-label floating for="email">E-mail</ion-label>
            <ion-input type="email" id="email-{{i}}" name="s-{{i}}-email" [(ngModel)]="item.email" required #emailField="ngModel" email></ion-input>
          </ion-item>

          <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-danger">
            <div *ngIf="emailField.errors.required">
              Email is required.
            </div>
            <div *ngIf="!emailField.errors.required && emailField.errors.email">
              Invalid Email.
            </div>
            <br>
          </div>

          <!-- Assign Ad Type, Assign Edition -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="error" class="text-danger">
    {{error}}
    
    <br><br>
  </div>

  <button ion-button color="brand_success" type="submit" class="btn btn-success" [disabled]="!dirForm.form.valid">Save</button>
  <button ion-button color="brand_danger" class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>