<ion-list>    
      <ion-item>
        <ion-label>Release Order</ion-label>
      
        <ion-select  name="release_order" [(ngModel)]="roles.release_order">
          <ion-option [value]="0">Block</ion-option>
          <ion-option [value]="1">View</ion-option>
          <ion-option [value]="2">Create</ion-option>      
        </ion-select>
      
    </ion-item>
    <br>
    
      <ion-item>
        <ion-label>Invoice</ion-label>
      
        <ion-select  name="invoice" [(ngModel)]="roles.invoice">
          <ion-option [value]="0">Block</ion-option>
          <ion-option [value]="1">View</ion-option>
          <ion-option [value]="2">Create</ion-option>      
        </ion-select>
    
    </ion-item>
    <br>
    
      <ion-item>
        <ion-label>Payment Receipts</ion-label>
      
        <ion-select  name="payment_receipts" [(ngModel)]="roles.payment_receipts">
          <ion-option [value]="0">Block</ion-option>
          <ion-option [value]="1">View</ion-option>
          <ion-option [value]="2">Create</ion-option>      
        </ion-select>
     
    </ion-item>
    <br>
    
      <ion-item>
        <ion-label>Accounts</ion-label>
      
        <ion-select  name="accounts" [(ngModel)]="roles.accounts">
          <ion-option [value]="0">Block</ion-option>
          <ion-option [value]="1">View</ion-option>
          <ion-option [value]="2">Create</ion-option>      
        </ion-select>
      </ion-item>
      <br>

</ion-list>