<form (ngSubmit)="submit()" #billingDetailsForm="ngForm">
  <ion-item class="form-group form-row">
    <ion-label floating class="col-md-3 col-form-label" for="firmName">Firm Name</ion-label>
    <ion-input type="text" id="firmName" name="firmName" [(ngModel)]="firmName" required #firmNameField="ngModel"></ion-input>
  </ion-item>

  <div *ngIf="firmNameField.invalid && (firmNameField.dirty || firmNameField.touched)" class="text-danger">
    <div *ngIf="firmNameField.errors.required">
      Firm Name is required.
    </div>
    <br>
  </div>

  <ion-item class="form-group form-row">
    <ion-label floating class="col-md-3 col-form-label" for="billingAddress">Billing Address</ion-label>
    <ion-input type="text" id="billingAddress" name="billingAddress" [(ngModel)]="billingAddress" required #billingAddressField="ngModel"></ion-input>
  </ion-item>

  <div *ngIf="billingAddressField.invalid && (billingAddressField.dirty || billingAddressField.touched)" class="text-danger">
    <div *ngIf="billingAddressField.errors.required">
      Billing Address is required.
    </div>
    <br>
  </div>

  <ion-item class="form-group form-row">
    <ion-label floating class="col-md-3 col-form-label" for="gstNo">GST Number</ion-label>
    <ion-input type="number" id="gstNo" name="gstNo" [(ngModel)]="gstNo" required #gstNoField="ngModel"></ion-input>
  </ion-item>

  <div *ngIf="gstNoField.invalid && (gstNoField.dirty || gstNoField.touched)" class="text-danger">
    <div *ngIf="gstNoField.errors.required">
      GST Number is empty or invalid.
    </div>
    <br>
  </div>

  <div *ngIf="error" class="text-danger">
    {{error}}
    
    <br>
  </div>

  <br>
  <button ion-button color="brand_success" class="btn btn-success" [disabled]="!billingDetailsForm.form.valid">Submit</button>
</form>