<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Login</h1>
  </div>
</div>

<div class="container">

<form (ngSubmit)="submit()" #loginForm="ngForm">
  <ion-item class="form-group">
    <ion-label floating for="emailPhone">Email address or Phone</ion-label>
    <ion-input type="text" id="emailPhone" [(ngModel)]="emailOrPhone" name="emailPhone" required #emailOrPhoneField="ngModel"></ion-input>
  </ion-item>


  <div *ngIf="emailOrPhoneField.invalid && (emailOrPhoneField.dirty || emailOrPhoneField.touched)" class="text-danger">
    <div *ngIf="emailOrPhoneField.errors.required">
      Email or Phone is required.
    </div>
    <br>
  </div>

  <ion-item class="form-group">
    <ion-label floating for="password">Password</ion-label>
    <ion-input type="password" id="password"  [(ngModel)]="password" name="password" required #passwordField="ngModel"></ion-input>
  </ion-item>

  <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="text-danger">
    <div *ngIf="passwordField.errors.required">
      Password is required.
    </div>
    <br>
  </div>

  <div *ngIf="error" class="text-danger">
    {{error}}
    
    <br>
  </div>

  <p class="float-right"><a (click)="this.goback.gotoComponent('forgotPassword')"><span>Forgot Password</span></a></p>
  
  <br>
  <button ion-button color="brand_success" [disabled]="!loginForm.form.valid">Login</button>
</form>

<br>
<p>Don't have an account? Create <a (click)="this.goback.gotoComponent('register')"><span>one</span></a>.</p>
</div>