<br>
<div class="container">
<h2>Add New Co-User</h2>
<br>

<form (ngSubmit)="submit()" #newCoUserForm="ngForm">

  <ion-item class="form-group form-row">
    <ion-label floating class="col-form-label col-md-3" for="name">Name</ion-label>
    <ion-input type="text" id="name" name="name" [(ngModel)]="name" required #nameField="ngModel"></ion-input>
  </ion-item>

  <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-danger">
      <div *ngIf="nameField.errors.required">
        Name is required.
      </div>
      <br>
    </div>

  <ion-item class="form-group form-row">
    <ion-label floating class="col-form-label col-md-3" for="designation">Designation</ion-label>
    <ion-input type="text" id="designation" name="designation" [(ngModel)]="designation" #designationField="ngModel"></ion-input>
  </ion-item>

  <ion-item class="form-group form-row">
    <ion-label floating class="col-form-label col-md-3" for="email">Email address</ion-label>
    <ion-input type="email" id="email" name="email" [(ngModel)]="email" required #emailField="ngModel" email></ion-input>
  </ion-item>

  <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-danger">
    <div *ngIf="emailField.errors.required">
      Email is required.
    </div>
    <div *ngIf="!emailField.errors.required && emailField.errors.email">
      Invalid Email.
    </div>
    <br>
  </div>

  <ion-item class="form-group form-row">
    <ion-label floating class="col-form-label col-md-3" for="phone">Phone Number</ion-label>
    <ion-input type="number" id="phone" name="phone" [(ngModel)]="phone" required #phoneField="ngModel"></ion-input>
  </ion-item>

  <div *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)" class="text-danger">
    <div *ngIf="phoneField.errors.required">
      Phone Number is empty or invalid.
    </div>
    <br>
  </div>


  <br>
  <h4>Roles</h4>
  <br>

  <app-role-control [(roles)]="roles"></app-role-control>

  <br>
  
  <div class="text-danger" *ngIf="error">
    {{error}}

    <br><br>
  </div>

  <button ion-button type="submit" color="brand_success" class="btn btn-success" [disabled]="!newCoUserForm.form.valid">Add</button>
  <button ion-button type="button" color="brand_danger" class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>
</div>