<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Co-Users</h1>
  </div>
</div>

<div class="container">
  <button ion-button class="fab" color="brand_success" *ngIf="admin" (click)="this.goback.gotoComponent('coUsers/new')"><span class="fa fa-plus"></span></button>

  <div *ngFor="let coUser of coUsers" class="card mb-4">
    <div class="card-header">{{coUser.name}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md">
          <h6>{{coUser.designation}}</h6>
          <span class="fa fa-envelope mr-3"></span> {{ coUser.email }}
          <br>
          <span class="fa fa-phone mr-3"></span> {{ coUser.phone }}
          <br><br>
        </div>
        <div *ngIf="admin" class="col-md-auto">
          <div>
            <button ion-button small color="brand_primary" class="btn btn-primary" [routerLink]="['/coUsers', coUser.id]"><span class="fa fa-pencil-alt"></span> Edit Roles</button>
            <button ion-button small color="brand_danger" class="btn btn-danger" (click)="delete(coUser)"><span class="fa fa-trash-alt"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>